<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378809359447-76kfm07iarqp69v292jg85111qha58fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378809359447-76kfm07iarqp69v292jg85111qha58fi</string>
	<key>API_KEY</key>
	<string>AIzaSyC7TzirqmQwloJurAxhJrKt8bRXEiwUtJg</string>
	<key>GCM_SENDER_ID</key>
	<string>378809359447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChatAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1e499</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1e499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378809359447:ios:531f3a930f875a016b1712</string>
</dict>
</plist>